/*
.Cards {
  max-width: 350px;
  margin: 10px;
  text-align: center;
  border: 0 solid hsl(0, 10%, 10%);
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 10px 5px 17px 0 rgba(0, 0, 0, 0.5)
}

.Cards .CardsImages {
  width: 200px;
  border-radius: 50%;
}

.Cards .CardsTitle {
  font: 30px bold;
}
*/


